*{
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100%;
    background-color: rgba(255, 209, 2, 0.712);
    text-align: center;
    color: rgb(47, 0, 255);
    transition: 0.3s;
    font-size: 18px;
    padding: 5%
}

.wrapper{
    height: 100%;
    padding: 50px;
}

.main_content{
    width: 500px;
    display: flex;
    text-align: center;
    flex-flow: row;
    justify-content: center;
    margin: 100px auto 10px auto;
    padding: 20px;
}

label{
    font-weight: 600;
}

.main_content input{
    height: 50px;
    width: 200px;
    border: 2px solid violet;
    border-radius: 50px;
    justify-content: space-between;
    margin: 50px;
    background-color: bisque;
    text-transform: capitalize;
    box-shadow:0 5px 50px 25px royalblue;
}

button{
    background-color: rgba(255, 0, 0, 0.562);
    font-size: 100px;
    border: 20px solid rgb(255, 196, 0, 0.3);
    border-radius: 50px;
    padding: 10px;
    box-shadow:0 5px 20px 50px rgba(255, 0, 0, 0.76) ;
}

button:hover{
    background-color: rgba(255, 0, 0, 0.3);
    box-shadow:0 0px 100px 100px rgba(255, 0, 0, 1) ;
    font-size: 110px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.result{
    width: 50%;
    margin: 100px auto;
}

.result h1{
    color:rgb(253, 0, 0);
    font-size: 75px;
}